* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: dodgerblue;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  /* #shopping-list-item {
    width: 250px;
  } */
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bookmark-list {
    list-style: none;
    padding-left: 0;
  }
  
  .bookmark-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
  }
  
  .bookmark-item {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .js-bookmark-list-desc {
      margin-top: 20px;
      display: inline-block;
  }

form {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}

.checked {
    color: orange;
}

.webpage-link {
  display: block;
}

.fa {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.rating-label {
  display: inline-block;
  font-size: 18px;
}

.js-bookmark-raiting-list {
  font-size: 16px;
}

.js-filter-list {
  font-size: 16px;
}

.filter-placeholder {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.new-item-submit {
  display: block;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #ce0e00; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}